<body>

  <!-- Selector -->

  <script type="text/x-template" id="login-buttons-template">
      <!-- Must have only one root element in each template -->
      <div id="login-buttons" class="login-buttons-dropdown-align-right">
        <login-buttons-selector
          :currentUser="currentUser"
          :configurationLoaded="configurationLoaded"
          :loggingInOrOut="loggingInOrOut"
          :dropdownStatus="dropdownStatus"
          :loginServices="loginServices"></login-buttons-selector>
      </div>
  </script>

  <script type="text/x-template" id="no-login-services-template">
    <div class="no-services">No login services configured</div>
  </script>

  <!-- Logged out, need to login -->

  <script type="text/x-template" id="login-buttons-logged-out-template">
    <div v-if="configurationLoaded">
      <login-buttons-logged-out-selector :dropdownStatus="dropdownStatus"></login-buttons-logged-out-selector>
    </div>
    <div v-else>
      <p>Waiting for login services to configure...</p>
    </div>
  </script>

  <script type="text/x-template" id="login-buttons-with-only-one-button-template">
    <div class="login-buttons-with-only-one-button">
      <div v-if="loggingIn">
         <login-buttons-logging-in-single-login-button></login-buttons-logging-in-single-login-button>
      </div>
      <div v-else>
        <login-buttons-logged-out-single-login-button></login-buttons-logged-out-single-login-button>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="login-buttons-logged-in-template">
    <div>
      <div v-if="dropdownStatus">
        _loginButtonsLoggedInDropdown
        <login-buttons-logged-in-dropdown></login-buttons-logged-in-dropdown>
      </div>
      <div v-else>
        <div class="login-buttons-with-only-one-button">
          _loginButtonsLoggedInSingleLogoutButton
          <login-buttons-logged-in-single-logout></login-buttons-logged-in-single-logout>
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="login-buttons-messages-template">
    <div>
      <div v-if="errorMessage">
        <div class="message error-message">{{errorMessage}}</div>
      </div>
      <div v-if="infoMessage">
        <div class="message info-message">{{infoMessage}}</div>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="login-buttons-logging-in-template">
    <div>
       _loginButtonsLoggingInPadding
      <div class="loading">&nbsp;</div>
       _loginButtonsLoggingInPadding
    </div>
  </script>

  <script type="text/x-template" id="login-buttons-logging-in-padding-template">
    <div>
      <div v-if="!dropdownStatus">
      <!-- invisible div used for correct height of surrounding div. this ensures
          that the _loginButtons template is always the same height
          and the rest of the page doesn't move up and down -->
          <div class="login-buttons-padding">
            <div class="login-button single-login-button" style="visibility: hidden;" id="login-buttons-logout">&nbsp;</div>
          </div>
      </div>
      <div v-else>
      <!-- just add some padding -->
        <div class="login-buttons-padding"></div>
      </div>
    </div>
  </script>

</body>
